

#heading {
    text-align: center;
}

#todays-report {
    padding-top: 25px;
    background-color: #4f7e19ec;
}

.card {
    margin-top: 20px;
    background-color: #3b137cd4;
    color: white;
}

.list-group-item {
    background-color: #00000000;
    border: none;
}

